@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@import url("./global.css");

/* Header */
.site-header {
    max-width: 90em;
    margin: 0 auto;
    display: flex;
    gap: 40em;
    align-items: center;
    padding: 0.8em;
}

.site-header .logo {
    display: inline-block;
    background-color: transparent;
    border: 1px solid #bababa;
    color: #4c4b45;
    font-size: 1.5em;
    box-shadow: 2px 2px 2px 1px rgb(0 0 0 / 20%);
    padding: 0.3em 0.6em;
    border-radius: 0.3rem;
}
.nav-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}
.nav-list li {
    padding: 0.5em 0.7em;
    border-radius: 0.3rem;
    border: 1px solid #a3a3a3;

    &:hover {
        background-color: red;
    }
    & a:hover {
        color: blue;
    }
}

.nav-list li > a {
    display: block;
    color: #5a5a5a;
    &:hover {
    }
}
/*  */

.shoe-cards-container {
    max-width: 90em;
    margin: 1em auto;
    display: flex;
    justify-content: center;
    gap: 2em;
    flex-wrap: wrap;
}
article.shoe-card {
}
img {
    width: 450px;
    height: auto;
    aspect-ratio: 1/1;
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
}
/* Footer  */
footer {
    font-size: 1.2em;
    margin: auto auto 2em auto;
}

