@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@import url("./global.css");
@import url("./header.css");
@import url("./shoe-details.css");
@import url("./register.css");

.shoe-cards-container {
    max-width: 90em;
    margin: 1em auto 4em auto;
    display: flex;
    justify-content: center;
    gap: 2em;
    flex-wrap: wrap;
}

img {
    width: 450px;
    height: auto;
    aspect-ratio: 1/1;
    border-radius: 0.3rem;
}

/* Footer  */
footer {
    font-size: 1.2em;
    margin-top: auto;
    margin-bottom: 2em;
    text-align: center;
    width: 100%;
}

