.shoe-details-container {
    display: flex;
    gap: 3em;
    text-align: center;
    margin: 4em auto auto auto;
    max-width: 60em;
    padding: 2em;
    border-radius: 0.3rem;
    box-shadow: 0em 0.2em 0.5em rgba(0, 0, 0, 0.1);
}
div.img-container > img {
    padding: 0;
    width: 450px;
    height: auto;
    aspect-ratio: 1/1;
    border-radius: 0.3rem;
}

.shoe-details {
    display: flex;
    flex-direction: column;
}

.shoe-details p {
    margin-bottom: 0.5em;
    align-self: flex-start;
}

p.price {
    font-size: 1.2em;
    font-weight: bold;
    opacity: 0.8;
}

.size-selector {
    display: flex;
    gap: 0.7em;
    flex-wrap: wrap;
}

.size-label {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 3em;
    height: auto;
    aspect-ratio: 1/1;
    border: 1px solid #ccc;
    border-radius: 0.3rem;
    background-color: white;
    transition: all 0.3s ease;
}

.size-label:hover {
    background-color: #e7e7e7;
}

.size-label > input[type="radio"] {
    display: none;
}

.size-label span {
    display: inline-block;
    padding: 0.7em 1em;
    border-radius: 0.3rem;
}

.size-label input:checked + span {
    background-color: rgb(131, 131, 131);
    color: white;
    border-color: rgb(131, 131, 131);
}

.buttons-container {
    margin-top: 1em;
    display: flex;
    gap: 2.5em;
}

.btn {
    border: none;
    cursor: pointer;
    background: transparent;
    color: #fff;
    letter-spacing: 0.08em;
    font-weight: 600;
    border-radius: 0.3rem;
    padding: 0.5em 0.8em;
    transition: 0.2s ease;
    &:hover {
        transform: translateY(-0.15em);
    }
}

.buttons-container button.shoe-details-btn {
    display: flex;
    align-items: center;
    gap: 0.4em;
    margin: 2em 0;
    border: 1.5px solid #eee;
    border-radius: 0.3rem;
    box-shadow: 0.1em 0.1em 0.1em rgba(0, 0, 0, 0.25);
    background: transparent;
    padding: 0.7em;
    cursor: pointer;
    transition: 0.2s ease;
    &:hover {
        transform: translateY(-0.5em);
    }
}
.buttons-container button.shoe-details-btn:hover {
    box-shadow: 0.2em 0.2em 0.5em rgba(0, 0, 0, 0.6);
}

p.description {
    text-align: start;
    max-width: 66ch;
}

button.edit-btn {
    background-color: rgb(173, 153, 127);

    &:hover {
        background-color: rgb(201, 178, 148);
    }
}
button.delete-btn {
    background-color: rgb(218, 45, 45);
    
    &:hover {
        background-color: rgb(169, 46, 46);
    }
}
