.login-form {
    max-width: 30em;
    margin: 3em auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0.3rem;
    box-shadow: 0.1em 0.1em 0.5em rgba(0, 0, 0, 0.5);
    padding: 0.5em 1em;
}

.login-form h1 {
    font-size: 1.5em;
    color: #4a4a4a;
    margin: 0.5em 0;
    letter-spacing: 0.1em;
}

.inputs-container {
    margin: 2em 0;
    padding: 0 3em;
    display: flex;
    flex-direction: column;
    width: 100%;
}
div.input-container {
    margin-bottom: 1.5em;
}

input {
    display: inline-block;
    width: 100%;
    padding: 0.5em;
    border: none;
    border-bottom: 2px solid rgb(150, 150, 150);
}
    
.login-btn {
    cursor: pointer;
    border: none;
    background: transparent;
    color: #848484;
    letter-spacing: 0.1em;
    font-size: 1.2em;
    box-shadow: 0.1em 0.1em 0.5em rgba(0, 0, 0, 0.5);
    border-radius: 0.3rem;
    padding: 0.7em 2em;
    margin-bottom: 1.3em;
}
.login-btn:hover {
    color: #262626;
}
.login-form p:last-of-type {
    color: #616161;
    margin-bottom: 0.5em;
    font-size: 1.1em;
}

.login-form a {
    margin-left: 0.5em;
    color: #4960d6;
    text-decoration: underline;
}
