.cart-container {
    display: flex;
    flex-direction: column;
    gap: 2em;
    margin: 4em auto;
    box-shadow: 0.1em 0.1em 0.3em rgba(0, 0, 0, 0.2);
    max-width: 50em;
    width: 100%;
    padding: 2em;
    border-radius: 0.3rem;

    & span {
        margin: 0 auto;
    }

    & p.error-msg {
        justify-content: center;
    }

    & a.redirect{
        width: fit-content;
        display: inline-block;
        border-bottom: 1px solid rgb(0, 0, 0);
        padding: 0.5em;
        &:hover {
            border-bottom-color: transparent;
            border-radius: 0.3rem;
            box-shadow: 0.1em 0.1em 0.5em rgba(0, 0, 0, 0.2);
        }
    }
}
header.cart-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1em;
}

h1.cart-heading {
    font-size: 1.1em;
    color: #53534c;
}

button.clear-btn {
    background-color: transparent;
    border: none;
    color: rgb(247, 72, 72);
    border-bottom: 1.8px solid rgb(247, 72, 72);
    cursor: pointer;
    font-size: 1em;
    letter-spacing: 0.1em;
    font-weight: bold;
    padding: 0.5em;

    &:hover {
        box-shadow: 0.1em 0.1em 0.3em rgba(0, 0, 0, 0.2);
        color: rgb(146, 64, 64);
        border-bottom-color: transparent;
        border-radius: 0.3rem;
    }

    &:disabled {
        color: rgb(96, 96, 96);
        border-bottom-color: rgb(96, 96, 96);
        cursor: not-allowed;
    }
}
div.checkout {
    margin-top: 1.5em;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

p.total {
    font-size: 1.2em;
    font-weight: bold;
    color: #53534c;
}
p.items-count {
    font-size: 0.9em;
    color: #53534c;
    margin: 0.5em 0 1.5em 0;
}

p.total span {
    margin-left: 1em;
}

button.checkout-btn {
    background-color: #8ceb7b;
    color: #777777;
    border: none;
    padding: 0.5em 1.5em;
    font-size: 1em;
    border-radius: 0.3rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out;

    &:hover {
        background-color: #7bdb6e;
        color: #000000;
    }
    &:disabled {
        color: black;
        background-color: #8cbc85;
    }
}
@media (width <= 400px) {
    section.cart-container {
        max-width: clamp(300px, 12px + 35vw, 450px);
    }
}