.user-form {
    max-width: clamp(300px, 12px + 35vw, 450px);
    margin: 5em auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0.3rem;
    box-shadow: 0.1em 0.1em 0.5em rgba(0, 0, 0, 0.5);
    padding: 0.5em 1em;
}
.user-form h1 + p {
    text-align: center;
}
.user-form h1 {
    font-size: 1.5em;
    color: #4a4a4a;
    margin: 0.5em 0;
    letter-spacing: 0.1em;
}

.inputs-container {
    margin: 2em 0;
    padding: 0 3em;
    display: flex;
    flex-direction: column;
    width: 100%;
}
div.user-input-container {
    margin-bottom: 1.5em;
}

div.user-input-container > input {
    display: inline-block;
    width: 100%;
    margin-bottom: 0.5em;
    padding: 0.5em;
    outline: none;
    border: none;
    background: transparent;
    border-bottom: 2px solid rgb(150, 150, 150);
}

div.user-input-container input.error {
    border-bottom: 1.5px solid red;

    &:focus {
        color: red;
        border: 1.5px solid rgb(255, 0, 0);
        border-radius: 0.3rem;
        color: #5a5a5a;
    }
}
.action-btn {
    cursor: pointer;
    border: none;
    background: transparent;
    color: #848484;
    letter-spacing: 0.1em;
    font-size: 1.2em;
    box-shadow: 0.1em 0.1em 0.5em rgba(0, 0, 0, 0.5);
    border-radius: 0.3rem;
    padding: 0.7em 2em;
    margin-bottom: 1.3em;

    &:disabled {
        cursor: not-allowed;
        color: #959595;
        background-color: rgb(187, 187, 187);
    }
}
.action-btn:hover {
    color: #262626;
}
.user-form p.redirect {
    color: #616161;
    margin-bottom: 1em;
    font-size: 1.1em;
    text-align: center;
}

.user-form a {
    margin-left: 0.5em;
    color: #4960d6;
    text-decoration: underline;
}
.imgContainer img {
    width: 7em;
    height: auto;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 1em;
}
@media (width <= 400px) {
    .user-form p.redirect {
        max-width: 25ch;
    }
}
