.profilePage {
    padding: 2em;
    border-radius: 0.3em;
    width: 30em;
    margin: 3em auto;
    text-align: center;
    background-color: transparent;
    font-family: "Segoe UI", sans-serif;
    box-shadow: 0.1em 0.1em 0.5em rgba(0, 0, 0, 0.5);
}

.imgContainer img {
    width: 7em;
    height: auto;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 1em;
    box-shadow: 0.1em 0.1em 1em rgba(184, 56, 56, 0.5);
}

.name {
    font-size: 1.5em;
    font-weight: 600;
    margin-bottom: 0.25em;
}

.handle {
    color: #666;
    font-size: 0.95em;
    margin-bottom: 1.5em;
}

.infoSection {
    text-align: left;
    margin-top: 1em;
}

.infoRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1em;
}

.label {
    font-weight: 600;
    color: #333;
}

.value {
    color: #555;
    display: flex;
    align-items: center;
    gap: 0.5em;
}

.infoRow svg {
    font-size: 0.9em;
    cursor: pointer;
    color: #6973b8;
}
.infoRow button {
    border: none;
    background: none;
}
.buttonsContainer {
    display: flex;
    margin-top: 2em;
    gap: 0.5em
}